In [31]:
import pandas as pd
sk = {}
sk["fish"] = {}
sk["fish"]["start"] = pd.DataFrame({
    "a": [1, 2, 3],
    "b": [4, 5, 6],
    "c": [7, 8, 9],
})
sk["fish"]["end"] = pd.DataFrame({
    "d": [1, 2, 3],
    "e": [4, 5, 6],
    "f": [7, 8, 9],
})

In [35]:
sk["fish"]["start"]

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [10]:
type(sk["fish"])

pandas.core.frame.DataFrame